<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>725391995627-a4f6t225g87pkcl2p299n2mntl6cdvvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725391995627-a4f6t225g87pkcl2p299n2mntl6cdvvv</string>
	<key>API_KEY</key>
	<string>AIzaSyCzHbhAKB54wRkaa9tlA1oINK6AM9UYa5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>725391995627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shivavandana.NotificationDemo</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-b6bb6</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-b6bb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:725391995627:ios:32d36b8bb8c7c815</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotification-b6bb6.firebaseio.com</string>
</dict>
</plist>